source "board/goldelico/letux-beagle/Kconfig"
source "board/goldelico/letux-beagle-b1/Kconfig"
source "board/goldelico/letux-beagle-b2/Kconfig"
source "board/goldelico/letux-beagle-b4/Kconfig"
source "board/goldelico/letux-beagle-b7/Kconfig"
source "board/goldelico/letux-gta04/Kconfig"
source "board/goldelico/letux-gta04-b2/Kconfig"
source "board/goldelico/letux-gta04-b3/Kconfig"
source "board/goldelico/letux-gta04-b4/Kconfig"
source "board/goldelico/letux-gta04-b7/Kconfig"
source "board/goldelico/letux-gta04-b8/Kconfig"
