if TARGET_PYRA_LC15

config SYS_BOARD
	default "pyra+lc15"

config SYS_VENDOR
	default "pandora"

config SYS_CONFIG_NAME
	default "pandora_pyra_lc15"

config DUAL_RANK_DDR3
	bool "Dual-rank memory (4GB)"

endif
