CONFIG_MIPS=y
CONFIG_ARCH_JZ47XX=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_JFFS2=y
CONFIG_MTDIDS_DEFAULT="nand0=jz4730-nand.0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=jz4730-nand.0:1m(bootloader),3m(kernel),1m(mac),5m(mini),1014m(yaffs2),-(extend)"
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_MMC_HW_PARTITIONING is not set
CONFIG_NS16550_DYNAMIC=y
CONFIG_WATCHDOG_TIMEOUT_MSECS=0
