if TARGET_GTA15

config SYS_BOARD
	default "letux-gta15"

config SYS_VENDOR
	default "goldelico"

config SYS_CONFIG_NAME
	default "letux_gta15"

config DUAL_RANK_DDR3
	bool "Dual-rank memory (4GB)"

endif
